In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as st
import warnings

warnings.filterwarnings('ignore')

In [2]:

df = pd.read_csv('final_file.csv')
df.head()

   passenger_count payment_type  fare_amount  trip_distance   duration
0                1         card          8.6           1.02   7.116667
1                1         card         20.5           1.86  24.816667
2                1         card          7.9           0.70   6.933333
3                1         card         23.3           2.80  29.433333
4                1         card         16.3           2.19  16.233333